     {% extends "base.html.twig" %}


        {% block body %}

        <div>
            <h1>Bonjour {{user.login}} </h1>

            <p>Cliquer sur ce lien pour activer votre compte</p> <a href="">ici</a>
        </div>

        {% endblock %}
